@model KFCPortal.Models.StaffInfo

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Dashboard.cshtml";
}
@*@if (Request.IsAuthenticated)
{*@ 
   
    <br />
    <div class="container">
       
        <div class="main-body">

            <!-- Breadcrumb -->
            <nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">User</a></li>
                    <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                </ol>
            </nav>
            <!-- /Breadcrumb -->

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="~/dist/img/profile.jpg" alt="Admin" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4>
                                        @Model.FirstName
                                    @Model.MiddleName
                                    @Model.LastName
                                </h4>
                                    @*<p class="text-secondary mb-1"><strong>@Model.Job_Title</strong></p>
                                    <p class="text-muted font-size-sm">@Model.Department_Name</p>*@
                                  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="col-md-8" float="center"><h3>Staff Profile</h3></div>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Staff Number</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <strong>@Model.No</strong>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Staff ID</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <strong>@Model.username</strong>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Staff Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <strong>@Model.Email</strong>
                            </div>
                        </div>
                        <hr>
                        @*<div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Date of Join</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <strong> </strong>
                            </div>
                        </div>*@
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone Number</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <strong>@Model.MobileNo</strong>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Entitled Leave Days</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <strong>@Model.Total_Leave</strong>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Leave Balance</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <strong>@Model.Leave_Balance</strong>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Leave Status</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                <strong> @Model.Leave_status</strong>
                            </div>
                        </div>
                        <hr>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
@*}*@
@if (ViewBag.Message != null)
{
    <script language='javascript' type='text/javascript'>
           window.onload= function(){
               alert("@ViewBag.Message");
           };
    </script>
}
<!-- /.row -->
